/* Fredoka Font */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* Press Start 2P Font*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Press+Start+2P&display=swap');

/* Nixie One */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nixie+One&family=Press+Start+2P&display=swap');

/* StickNoBills Font*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nixie+One&family=Press+Start+2P&family=Stick+No+Bills:wght@300&display=swap');

html {
  font-size: 20px;
  width: 60%;
  font-family: 'Wild Words', 'Fredoka One', cursive, 'sans-serif';
  /* setting the base font to 10px so that "em", "rem" and "vw" can be used accordingly.*/
  margin: 0 auto;
}

:root {
  --border-color: #10444d;
  --background-color: #021012;
  --secondary-background: #06272c;
  --font-color: #fff;
  --link-color: #26d0e7;
  --box-active-color: #0366d6;
}

/* box-shadow: 0 0 0 3px #0366d64d; */

@font-face {
  font-family: 'Wild Words';
  src: url('/assets/Wild-words/cc_wild_words_roman-webfont.woff2') format('woff2'),
    url('/assets/Wild-words/cc_wild_words_roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*setting the base font family to Wild Words to mimic the predominant font used in translated manga,webtoons, and mangas. This font does not work on any browser other than Safari at the moment */

*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  font-weight: 400;
  line-height: 1.4;
  color: var(--font-color);
  height: 100%;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(180deg,
      rgb(2, 16, 18, 0.6),
      rgba(6, 39, 44, 0.0)), url("/assets/anime-background.png");
  background-size: cover;
  background-repeat: no repeat;
}

form {
  justify-content: center;
}

div #background-opacity {
  background-color: rgb(2, 16, 18, 0.95);
  border-style: solid;
  border-color: var(--border-color);
  border-radius: 5px;
  width: fit-content;
  height: auto;
  position: relative;
}

div #answer-section {
  position: relative;
  font-family: 'Wild Words', 'Nixie One';
  margin-top: 0;
  text-align: left;
  color: var(--font-color);
  width: fit-content;
}

select,
input {
  max-width: 70%;
}

#survey-form {
  max-width: 70%;
}

p {
  position: relative;
  font-size: 1.3rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 1.2rem;
  padding: 5;
  text-align: center;
  position: relative;
  font-family: 'Press Start 2P', cursive;
}

/* Demographics */
legend {
  font-size: 1.3rem;
}


div .mb-3 .border {
  border-radius: 5px;
  border-color: var(--border-color);
  border-style: solid;
  border: 1px solid var(--border-color) !important;
}

hr {
  border-style: solid;
  color: var(--border-color);
  opacity: 0.7 !important;
}

#description {
  text-align: center;
  font-family: 'Wild Words', 'Fredoka One', cursive, 'sans-serif';
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}


.container {
  width: fit-content;
  height: auto;
  user-select: none;
}

.containter #page {
  justify-content: center;
  text-align: center;

}

#enter-anime {
  font-size: .8rem;
}

/* form styles */

form {
  background: "";
  padding: 1rem 1rem;
  position: relative;
  display: block;
}

input,
button select,
textarea,
select {
  margin: 0;
  border-radius: 6px;
  border-style: solid;
  border-color: var(--border-color);
  border-width: 1px;
  font-family: 'Wild Words', 'Fredoka One', cursive, 'sans-serif';
  font-size: 1rem;
  line-height: inherit;
  background: none;
  color: var(--border-color);
}

form:focus,
form:focus-,
.survey-section:focus,
.survey-section:focus-visible {
  border-color: var(--box-active-color);
  box-shadow: 0 0 0 3px #0366d64d;
  outline: none;
}

::placeholder {
  text-align: left;
  font-size: 0.7rem;
  padding-left: 0.3rem;
  font-family: 'Wild Words', 'Fredoka One', cursive, 'sans-serif';
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

/* looking for a way to make all checkboxes stay the same size in google chrome. I tried to make each option one line to avoid the shrinking of the boxes but I did not want to alter my original plans too much! If anyone knows please email me and I will make the proper adjustments.*/

.checkbox-one {
  margin-right: 0.5rem;
  cursor: pointer;
}

.checkbox-two {
  margin-right: 0.5rem;
  cursor: pointer;
}

.checkbox-three {
  margin-right: 0.5rem;
  cursor: pointer;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  resize: vertical;
}

.submit-button {
  display: inline-block;
  border-radius: 5px;
  background-color: var(--link-color);
  border: none;
  color: var(--font-color);
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.submit-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.submit-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submit-button:hover span {
  padding-right: 25px;
}

.submit-button:hover span:after {
  opacity: 1;
  right: 0;
}

textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  border-style: solid;
  border-color: var(--border-color);
}

input [class=checkbox-three] {
  transform: scale(20%);
  min-width: 20%;
  max-width: 20%;
  height: auto;
}

footer {
  height: 10px;
  width: 100%;
}