/* Wild Words Font */
@font-face {
  font-family: 'Wild Words';
  src: url('/assets/Wild-words/cc_wild_words_roman-webfont.woff2') format('woff2'),
    url('/assets/Wild-words/cc_wild_words_roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*setting the base font family to Wild Words to mimic the predominant font used in translated manga,webtoons, and mangas. This font does not work on any browser other than Safari at the moment */

/* Open Sans */

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/Open-sans/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
    url('/assets/Open-sans/opensans-variablefont_wdthwght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/* Fredoka Font */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* Press Start 2P Font*/

@font-face {
  font-family: 'Press Start 2P';
  src: url('/assets/Press-start-2p/pressstart2p-vav7-webfont.woff2') format('woff2'),
    url('/assets/Press-start-2p/pressstart2p-vav7-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  font-size: 16px;
  width: 100%;
  font-family: 'Wild Words', 'Fredoka One', cursive, 'sans-serif';
  /* setting the base font to 10px so that "em", "rem" and "vw" can be used accordingly.*/
  margin: 0 auto;
  justify-items: center;
}


:root {
  --border-color: #10444d;
  --background-color: #021012;
  --secondary-background: #06272c;
  --font-color: #fff;
  --link-color: #26d0e7;
  --box-active-color: #0366d6;
}

/* box-shadow: 0 0 0 3px #0366d64d; */

.container {
  height: 50px;
}

*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  font-weight: 400;
  line-height: 1.4;
  color: var(--font-color);
  height: 100%;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(180deg,
      rgb(2, 16, 18, 0.6),
      rgba(6, 39, 44, 0.0)), url("/assets/anime-background.png");
  background-size: cover;
  background-repeat: no repeat;
}

form {
  justify-content: center;
}

div #background-opacity {
  background-color: rgb(2, 16, 18, 0.95);
  border-style: solid;
  border-color: var(--border-color);
  border-radius: 5px;
  width: fit-content;
  height: auto;
  position: relative;
}

div #answer-section {
  position: relative;
  font-family: 'Wild Words', 'Nixie One';
  margin-top: 0;
  text-align: left;
  color: var(--font-color);
  width: fit-content;
}



select,
input {
  max-width: 70%;
}

#survey-form {
  max-width: 75%;
}

p {
  position: relative;
  font-size: 1rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 1.2rem;
  padding: 5;
  text-align: center;
  position: relative;
  font-family: 'Press Start 2P', 'Wild Words';
}

/* Demographics */
legend {
  font-size: 1.3rem;
}


div .mb-3 .border {
  border-radius: 5px;
  border-color: var(--border-color);
  border-style: solid;
  border: 1px solid var(--border-color) !important;
}

hr {
  border-style: solid;
  color: var(--border-color);
  opacity: 0.7 !important;
}

/* Word Styling */
#description {
  text-align: center;
  font-family: 'Wild Words', 'Fredoka One', cursive, 'sans-serif';
}

label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.small {
  font-size: 13px;
}

.container-sm {
  width: fit-content;
  height: auto;
  user-select: none;
}

.row {
  margin: auto;
}

.containter #page {
  justify-content: center;
  text-align: center;

}

#enter-anime {
  font-size: .8rem;
}

/* form styles */

form {
  background: "";
  padding: 1rem 1rem;
  position: relative;
  display: block;
}

button select {
  margin: 0;
  border-radius: 6px;
  border-style: solid;
  border-color: var(--border-color);
  border-width: 1px;
  font-family: 'Wild Words', 'Fredoka One', cursive, 'sans-serif';
  font-size: 1rem;
  line-height: inherit;
  background: none;
  color: var(--border-color);
}

input,
select,
textarea {
  margin: 0;
  border-radius: 6px;
  border-style: solid;
  border-color: var(--border-color);
  border-width: 1px;
  font-family: 'Open Sans';
  font-size: 1rem;
  line-height: inherit;
  background: none;
  color: var(--font-color)
}

input:hover,
select:hover,
textarea:hover {
  border: 1px var(--link-color) solid;
  transition: all 0.5s;
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--box-active-color);
  box-shadow: 0 0 0 3px #0366d64d;
  outline: none;
}

::placeholder {
  text-align: left;
  font-size: 0.7rem;
  padding-left: 0.3rem;
  font-family: 'Open Sans', 'Wild Words', 'Fredoka One', cursive, 'sans-serif';
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

/* looking for a way to make all checkboxes stay the same size in google chrome. I tried to make each option one line to avoid the shrinking of the boxes but I did not want to alter my original plans too much! If anyone knows please email me and I will make the proper adjustments.*/

.checkbox-one {
  margin-right: 0.5rem;
  cursor: pointer;
}

.checkbox-two {
  margin-right: 0.5rem;
  cursor: pointer;
}

.checkbox-three {
  margin-right: 0.5rem;
  cursor: pointer;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  resize: vertical;
}

/* Submit button */

.submit-button {
  display: inline-block;
  border-radius: 5px;
  background-color: var(--secondary-background);
  border: var(--border-color) 1px solid;
  color: var(--font-color);
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  justify-content: center !important;

}

/* submit button animation */

.submit-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.submit-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submit-button:hover span:after {
  opacity: 1;
  right: -30;
}

/* Textbox */
textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  border-style: solid;
  border-color: var(--border-color);
}

/* for jQuery */
input [class=checkbox-three] {
  transform: scale(20%);
  min-width: 20%;
  max-width: 20%;
  height: auto;
}



/* Bottom */

footer {
  height: 10px;
  width: 100%;
}

/* Checkmarks */

/* Customize the label (the container) */
.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--link-color);
}

/* On mouse-over, add a grey background color */
.container-check:hover input~.checkmark {
  background-color: var(--secondary-background);
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked~.checkmark {
  background-color: var(--box-active-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid var(--font-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Media Query */

@media only screen and (max-width: 768px) {
  html {
    width: fit-content;
  }

  /* Style the checkmark/indicator */
  .container-check .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--font-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  div #answer-section {
    width: 400px;
  }

  .submit-button {
    display: inline-block;
    border-radius: 5px;
    background-color: var(--secondary-background);
    border: var(--border-color) 1px solid;
    color: var(--font-color);
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
  }

  div .button-center {
    padding-left: 25px !important;
  }

  textarea {
    width: 200px;
  }

}

#container-foot {
  text-align: center;
}

div .button-center {
  padding-left: 100px;
}

textarea {
  width: 300px;
}